{% extends "base.html" %}
{% block contentnav %}
{% include "include/feednav.txt" %}
{% include "include/myfeeds.txt" %}
{% include "include/topfeeds.txt" %}
{% include "include/busiestfeeds.txt" %}
{% endblock %}
{% block maincontent %}
<!-- xfeeds/feeditem_list.html -->
<h2>{{ object.feed_title }}</h2>
{% for feeditem in object.feeditem_set.all %}
{% ifchanged %}
<article>
<header>
<h3>{{ feeditem.pubDate|date:"d F Y" }}</h3>
{% endifchanged %}
<p><strong><a id="{{ feeditem.id }}" href="{% url "xfeeds:feeditem-detail" pk=feeditem.id %}?rp={{ page_obj.number }}">{{ feeditem.title }}</a></strong>{% if feeditem.author %} by {{ feeditem.author }}{% endif %}
{% if feeditem not in seen_items %} &rarr; NEW!{% endif %}</p>
</header>
  <p>{{ feeditem.description|truncatewords_html:120|safe }}</p>
{% endfor %}
{% endblock %}
