{% extends "base.html" %}
{% block extratitle %}{{ object.title }}{% endblock %}
{% block contentnav %}
{% include "include/feeditemnav.txt" %}
{% include "include/myfeeds.txt" %}
{% include "include/related.txt" %}
{% endblock %}
{% block maincontent %}
<article>
<header>
    <h2><a href="{{ object.link }}">{{ object.title }}</a></h2>
    <p>{{ object.pubDate }}
        {% if object.author %}<p>by {{ object.author }}</p>{% endif %}
</header>
{{ object.description|safe }}
<footer><a href="{{ object.link }}">Continue reading on '{{ object.source.feed_title }}'</a></footer>
</article>

<p><a href="{% url 'xfeeds:feed-list' %}?page={{ request.GET.rp }}#{{object.id }}">&larr; Back to List</a></p>
{% endblock %}
