{% extends "base.html" %}
{% block contentnav %}
<!-- gonna include the leftnav here -->
<a href="{% url 'xfeeds:feed-add' %}">Add Feed URL</a>
{% endblock %}
{% block maincontent %}
<!-- xfeeds/feeditem_list.html -->
<h2>All Feeds</h2>
{% for object in object_list %}
<h3><a href="{% url "xfeeds:feeditem-detail" pk=object.id %}?rp={{ page_obj.number }}">{{ object.feed_title }}</a></h3>
        <p><img src="{{ object.image.url }}"></p>
{% for feeditem in object.feeditem_set.all %}
{% if forloop.first %}
<p><a id="{{ feeditem.id }}" href="{% url "xfeeds:feeditem-detail" pk=feeditem.id %}?rp={{ page_obj.number }}">{{ feeditem.title }}</a>
    {% if feeditem not in seen_items %}NEW!{% endif %}</p>
        <p>{{ feeditem.description|safe }}</p>
{% else %}
<p><a href="{% url "xfeeds:feeditem-detail" pk=feeditem.id %}?rp={{ page_obj.number }}">{{ feeditem.title }}</a>{% if feeditem not in seen_items %}NEW!{% endif %}</p>
        <p>{{ feeditem.description|safe }}</p>
{% endif %}

{% endfor %}
</div>
{% endfor %}
{% endblock %}
