{% extends "base.html" %}
{% block contentnav %}
{% include "include/myfeeds.txt" %}
{% include "include/topfeeds.txt" %}
{% include "include/busiestfeeds.txt" %}
{% endblock %}
{% block maincontent %}
<!-- xfeeds/feeditem_list.html -->
<h2>All Feed Items</h2>
{% for object in object_list %}
<article>
{% ifchanged %}
<h3>{{ object.pubDate |date:"d F" }}</h3>
{% endifchanged %}
{% ifchanged %}
<h3><a href="{{ object.source.get_absolute_url }}">{{ object.source.feed_title }}</a></h2>
{% endifchanged %}
<p>{{ object.description|safe|truncatewords:"20" }}</p>
<a id="{{ object.id }}" href="{% url "xfeeds:feeditem-detail" pk=object.id %}?rp={{ page_obj.number }}">{{ object.title}}</a>
{% endfor %}
</article>
{% endblock %}
